*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#wrapper {
    padding-top: 5%;
}

/*vertical line sidebar (left)*/
.vl {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    background-color: rgb(168, 178, 209);
    margin: 0px auto;
    box-sizing: inherit;
}

.viewport {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -ms-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    -webkit-perspective-origin: 50% 200px;
    -moz-perspective-origin: 50% 200px;
    -ms-perspective-origin: 50% 200px;
    -o-perspective-origin: 50% 200px;
    perspective-origin: 50% 200px;
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -o-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
    -webkit-box-reflect: below 150px -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(40%, transparent), to(rgba(255, 255, 255, 0.1)));
}

.cube {
    position: relative;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(136deg) rotateY(1122deg);
    -moz-transform: rotateX(136deg) rotateY(1122deg);
    -ms-transform: rotateX(136deg) rotateY(1122deg);
    -o-transform: rotateX(136deg) rotateY(1122deg);
    transform: rotateX(136deg) rotateY(1122deg);

}

.cube>div {
    overflow: hidden;
    position: absolute;
    opacity: 0.9;
    height: 200px;
    width: 200px;
    background-image: url("http://jordizle.com/static/img/blank.png");
    -webkit-touch-callout: none;
    -moz-touch-callout: none;
    -ms-touch-callout: none;
    -o-touch-callout: none;
    touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}

.cube>div>div.cube-image {
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    line-height: 190px;
    font-size: 18px;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    color: #aaaaaa;
    -webkit-transition: color 600ms;
    -moz-transition: color 600ms;
    -ms-transition: color 600ms;
    -o-transition: color 600ms;
    transition: color 600ms;
    animation: spinning 2s infinite;
}

.paragraph-section {
    font-family: 'Roboto Mono', monospace;
    line-height: 25px;
    text-align: justify;
    text-justify: inter-word;
}

.about {
    font-size: 16px;
}

.move-me {
    margin: 100px;
    position: relative;
}

.cube>div>div.cube-image.active {
    color: rgb(0, 0, 0);
}

.cube>div:hover {
    cursor: pointer;
}

.cube>div:active {
    cursor: pointer;
}

.cube>div:first-child {
    -webkit-transform: rotateX(90deg) translateZ(100px);
    -moz-transform: rotateX(90deg) translateZ(100px);
    -ms-transform: rotateX(90deg) translateZ(100px);
    -o-transform: rotateX(90deg) translateZ(100px);
    transform: rotateX(90deg) translateZ(100px);
    outline: 1px solid transparent;
}

.cube>div:nth-child(2) {
    -webkit-transform: translateZ(100px);
    -moz-transform: translateZ(100px);
    -ms-transform: translateZ(100px);
    -o-transform: translateZ(100px);
    transform: translateZ(100px);
    outline: 1px solid transparent;
}

.cube>div:nth-child(3) {
    -webkit-transform: rotateY(90deg) translateZ(100px);
    -moz-transform: rotateY(90deg) translateZ(100px);
    -ms-transform: rotateY(90deg) translateZ(100px);
    -o-transform: rotateY(90deg) translateZ(100px);
    transform: rotateY(90deg) translateZ(100px);
    outline: 1px solid transparent;
}

.cube>div:nth-child(4) {
    -webkit-transform: rotateY(180deg) translateZ(100px);
    -moz-transform: rotateY(180deg) translateZ(100px);
    -ms-transform: rotateY(180deg) translateZ(100px);
    -o-transform: rotateY(180deg) translateZ(100px);
    transform: rotateY(180deg) translateZ(100px);
    outline: 1px solid transparent;
}

.cube>div:nth-child(5) {
    -webkit-transform: rotateY(-90deg) translateZ(100px);
    -moz-transform: rotateY(-90deg) translateZ(100px);
    -ms-transform: rotateY(-90deg) translateZ(100px);
    -o-transform: rotateY(-90deg) translateZ(100px);
    transform: rotateY(-90deg) translateZ(100px);
    outline: 1px solid transparent;
}

.cube>div:nth-child(6) {
    -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
    -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
    -ms-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
    -o-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
    transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
    outline: 1px solid transparent;
}

object {
    opacity: 0.3;
}

object:hover {
    opacity: 1;
}

@media (max-width: 640px) {
    .viewport {
        -webkit-transform: scale(0.6, 0.6);
        -moz-transform: scale(0.6, 0.6);
        -ms-transform: scale(0.6, 0.6);
        -o-transform: scale(0.6, 0.6);
        transform: scale(0.6, 0.6);
    }
}

.block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.text {
    color: rgb(134, 187, 171);
    font-size: 12px;
    font-weight: 300;
}

.font {
    font-family: 'IBM Plex Mono', monospace;
}

.dimension {
    -webkit-perspective: 500px;
    perspective: 500px;
    -webkit-perspective-origin: center center;
    perspective-origin: center center;
    display: flex;
    align-items: center;
    ;
}

.side {
    position: absolute;
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 15px solid rgb(242, 238, 0);
    opacity: .7;
    -webkit-animation: color 7s cubic-bezier(0.75, 0, 0.5, 1) infinite;
    animation: color 7s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg);
    }

    25% {
        -webkit-transform: rotateY(90deg);
        transform: rotateY(90deg);
    }

    50% {
        -webkit-transform: rotateZ(90deg);
        transform: rotateZ(90deg);
    }

    75% {
        -webkit-transform: rotateY(90deg);
        transform: rotateY(90deg);
    }

    100% {
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg);
    }

    25% {
        -webkit-transform: rotateY(90deg);
        transform: rotateY(90deg);
    }

    50% {
        -webkit-transform: rotateZ(90deg);
        transform: rotateZ(90deg);
    }

    75% {
        -webkit-transform: rotateY(90deg);
        transform: rotateY(90deg);
    }

    100% {
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg);
    }
}

@-webkit-keyframes color {
    0% {
        border: 2px solid #333333;
        background: #018661;
    }

    25% {
        border: 2px solid #018661;
        background: #333333;
    }

    50% {
        border: 2px solid #333333;
        background: #018661;
    }

    75% {
        border: 2px solid #018661;
        background: #333333;
    }

    100% {
        border: 2px solid #333333;
        background: #018661;
    }
}

@keyframes color {
    0% {
        border: 2px solid #333333;
        background: #018661;
    }

    25% {
        border: 2px solid #018661;
        background: #333333;
    }

    50% {
        border: 2px solid #333333;
        background: #018661;
    }

    75% {
        border: 2px solid #018661;
        background: #333333;
    }

    100% {
        border: 1px solid #333333;
        background: #018661;
    }
}

/*# sourceMappingURL=spinner.css.map */

/*Start global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 10px;
    font-family: 'Oswald', monospace;
    color: #eee;
}

body {
    width: 100%;
    height: 100%;
    background: #1E1F20 no-repeat center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

section {
    padding: 6rem 0;
}

a {
    text-decoration: none;
    color: #eee;

}

p {
    font-size: 1.8rem;
    font-weight: 300;
}

img {
    width: 100%;
}

/*End global*/

/*Start reusable*/
.container {
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading {
    text-align: center;
    margin-bottom: 10rem;
}

.section-heading h1 {
    font-size: 3.5rem;
    color: rgba(255, 255, 255, .3);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}

.section-heading h1::before,
.section-heading h1::after {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.75);
}

.section-heading h1::before {
    width: 10rem;
    height: 3px;
    border-radius: 0.8rem;
}

.section-heading h6 {
    font-size: 1.6rem;
    font-weight: 300;
}

.has-margin-right {
    margin-right: 5rem;
}

/*End reusable*/

/*Start header*/
header {
    width: 100%;
    height: 100vh;
}

.top-nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    background-color: #333333;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms;
    z-index: 50;
}


.main-left {
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 300px;
    left: 10px;
    background: transparent;
    overflow-x: hidden;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
}

.left-sticky {
    align-items: center;
    justify-content: center;
    top: 20px;
    height: 300px;
    width: 200px;
    float: left;
    display: flex;
    flex-direction: column;
}

.left-sticky a {
    display: flex;
    flex-direction: column;
}



.social-media i {
    font-size: 3rem;
    transition: color 650ms;
}

.social-media i:hover {
    color: rgb(1, 134, 97);
}

.nav-list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0 2rem;
}


.nav-link {
    font-family: 'Oswald', monospace;
    font-size: 5rem;
    padding: 1rem;
}

.nav-link:hover,
.nav-link:focus {
    background: rgb(1, 134, 97);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link:hover {
    transition: 1s;
}

.top-nav.open {
    top: 0;
    border-radius: initial;
}

.menu-toggler {
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
}

.menu-toggler.open {
    transform: rotate(-45deg);
}

.bar {
    background: linear-gradient(to right, rgb(1, 134, 97), #eee);
    width: 100%;
    height: 4px;
    border-radius: .8rem;
}

.bar.half {
    width: 50%;
}

.bar.start {
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start {
    transform: rotate(-450deg) translateX(0.8rem);
}

.bar.end {
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end {
    transform: rotate(-450deg) translateX(-.8rem);
}

.landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}

.landing-text h1 {
    font-size: 10rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    background: rgb(1, 134, 97);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
}

.landing-text h6 {
    font-size: 2rem;
    font-weight: 300;
}

/*End header*/

/*Start about*/
.about .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-heading {
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
}

.about-heading h1 {
    font-size: 10rem;
    opacity: 0.3;
}

.about-heading h6 {
    font-size: 2rem;
    font-weight: 300;
}

.profile-img {
    flex: 1;
    margin-right: 5rem;

}

.about-details {
    flex: 1;
}


/*End about*/

/*Start services*/
.my-skills {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.skill h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
}

.icon-container {
    width: 10rem;
    height: 10rem;
    border: 3px solid rgb(1, 134, 97);
    background-color: transparent;
    display: flex;
    margin-bottom: 2rem;
    transform: rotate(45deg);
}

.icon-container i {
    color: rgb(1, 134, 97);
    font-size: 5rem;
    margin: auto;
    transform: rotate(-45deg);
}

/*End services*/

/*Start portfolio*/
.portfolio-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;


}

.portfolio-item:last-child {
    margin-bottom: 0;
}

.portfolio-img {
    flex: 1;
    width: 50rem;

}

.portfolio-description {
    flex: 1;
}

.portfolio-description h1 {
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0;
}

.portfolio-description h6 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.3;
}

.portfolio-description .cta {
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #3883ff;
    transition: color 650ms;
}

.portfolio-description .cta:hover {
    color: #2f67cd;
}

/*End portfolio*/

/*Start experience*/



/*End timeline*/

/*Start contact*/
.contact {
    background-color: #1E1F20;
}

form {
    width: 70%;
    margin: 5rem auto;
}

.form label {
    font-size: 1.5rem;
}

input,
select,
textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
    outline-color: rgb(1, 134, 97);
    ;
}

input[type="submit"] {
    width: initial;
    background-color: #333333;
    color: #eee;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: background-color 650ms;
}

input[type="submit"]:hover {
    color: #221e3f;
    background-color: rgb(1, 134, 97);

}

/*End contact*/

/*Start footer*/
.copyright {
    width: 100%;
    text-align: center;
    background-color: #1E1F20;
    padding: 2rem 0;
    position: relative;
}

.up {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
}

.up i {
    color: #16162d;
    font-size: 2rem;
    margin: auto;
}

.copyright p {
    font-size: 1.4rem;
}

/*End footer*/

/*Start animations*/
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 242, 174, 0.99);
    }

    70% {
        box-shadow: 0 0 0 2rem rgba(0, 242, 174, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 242, 174, 0);
    }
}

/*End animations*/

/*Start media queries*/

@media screen and (max-width: 768px) {
    body {
        background: #1E1F20 no-repeat center fixed;
        background-size: cover;
    }

    .landing-text h1 {
        font-size: 15rem;
    }

    .landing-text h6 {
        font-size: 1.7rem;
    }

    .nav-list {
        flex-direction: column;
    }

    li {
        margin: 2rem 0;
    }

    nav-link {
        font-size: 4.5rem;
    }

    .about-heading h1 {
        font-size: 8rem;
    }

    .section-heading h1 {
        font-size: 3rem;
    }

    .about-details .nav-list {
        flex-direction: initial;
    }

    .about-details li {
        margin: 0 2rem;
    }

    .icon-container {
        width: 7rem;
        height: 7rem;
    }

    .icon-container i {
        font-size: 4rem;
    }

    .timeline ul {
        margin: 0 0 0 auto;
    }

    .timeline .date::before {
        left: -20rem;
    }

    .timeline .date::after {
        left: -6rem;
    }
}


@media screen and (max-width: 600px) {
    .menu-toggler {
        top: 2rem;
        right: 2rem;
    }

    .landing-text h1 {
        font-size: 8rem;

    }

    .landing-text h6 {
        font-size: 1.4rem;
    }

    .nav-link {
        font-size: 3.5rem;
    }

    .about .container {
        flex-direction: column;
    }

    .profile-img {
        margin: 0 0 7rem 0;
    }

    .portfolio-item {
        flex-direction: column;
    }

    .portfolio-img {
        margin: 0 0 2rem 0;
        order: 1;
    }

    .portfolio-description {
        margin: 0;
        order: 2;
    }

    .timeline p {
        font-size: 1.6rem;
    }

    .timeline .date::before {
        font-size: 1.3rem;
    }

    form {
        width: 100%;
    }

    .up {
        right: 2rem;
    }
}

/*End media queries*/


/* Style the tab */



.tab {
    float: left;
    border-left: 5px solid rgb(1, 134, 97);
    background-color: #2A2B2D;
    width: 20%;
    display: flex;
    flex-direction: column;
    height: 30rem;
}

/* Style the buttons inside the tab */
.tab button {
    display: flex;
    background-color: inherit;
    color: white;
    padding: 15px 25px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgb(77, 77, 77);
    border-left: 20px solid rgb(1, 134, 97);
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 50%;
    border-left: none;
    height: 30rem;
}