/*font import*/
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|IBM+Plex+Mono|Oswald|Roboto|Roboto+Condensed|Staatliches|Roboto|Roboto+Mono|Public+Sans&display=swap');

/*html background/denote universal selector*/
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*header/navbar setting*/
header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 2.5%;
    position: fixed;
    background-color: black;
    z-index: 9999;
    border-bottom: 1px solid #db963b;
    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 10px;
    margin: 5px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    color: #db963b;
    margin: 0;
}

.nav__links li a:hover {
    transition: all 0.3s ease 0s;
    color: #ffffff;
}

.resume-button {
    padding: 9px 15px;
    margin-left: 50px;
    background-color: transparent;
    border: 1px solid #db963b;
    border-radius: 0px;
    cursor: pointer;
    color: #db963b;
    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
    transition: all 0.3 ease 0s;
}

.resume-button:hover {
    background-color: #4b3313;
    color: #db963b;
    transition: all 500ms ease 100ms;
}

/*end header/navbar setting*/
/*main content*/

#wrapper {
    padding-top: 5%;
}

.main-content {
    margin-top: 150px;
}

.viewport {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -ms-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    -webkit-perspective-origin: 50% 200px;
    -moz-perspective-origin: 50% 200px;
    -ms-perspective-origin: 50% 200px;
    -o-perspective-origin: 50% 200px;
    perspective-origin: 50% 200px;
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -o-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
    -webkit-box-reflect: below 150px -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(40%, transparent), to(rgba(255, 255, 255, 0.1)));
}

.cube {
    position: relative;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(136deg) rotateY(1122deg);
    -moz-transform: rotateX(136deg) rotateY(1122deg);
    -ms-transform: rotateX(136deg) rotateY(1122deg);
    -o-transform: rotateX(136deg) rotateY(1122deg);
    transform: rotateX(136deg) rotateY(1122deg);

}

.cube>div {
    overflow: hidden;
    position: absolute;
    opacity: 0.9;
    height: 200px;
    width: 200px;
    background-image: url("http://jordizle.com/static/img/blank.png");
    -webkit-touch-callout: none;
    -moz-touch-callout: none;
    -ms-touch-callout: none;
    -o-touch-callout: none;
    touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}

.cube>div>div.cube-image {
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    line-height: 190px;
    font-size: 18px;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    color: #aaaaaa;
    -webkit-transition: color 600ms;
    -moz-transition: color 600ms;
    -ms-transition: color 600ms;
    -o-transition: color 600ms;
    transition: color 600ms;
    animation: spinning 2s infinite;
}

.paragraph-section {
    font-family: 'IBM Plex Mono', monospace;
    line-height: 25px;
    text-align: justify;
    text-justify: inter-word;
}

.about {
    font-size: 16px;
}

.move-me {
    margin: 100px;
    position: relative;
}

.cube>div>div.cube-image.active {
    color: rgb(0, 0, 0);
}

.cube>div:hover {
    cursor: pointer;
}

.cube>div:active {
    cursor: pointer;
}

.cube>div:first-child {
    -webkit-transform: rotateX(90deg) translateZ(100px);
    -moz-transform: rotateX(90deg) translateZ(100px);
    -ms-transform: rotateX(90deg) translateZ(100px);
    -o-transform: rotateX(90deg) translateZ(100px);
    transform: rotateX(90deg) translateZ(100px);
    outline: 1px solid transparent;
}

.cube>div:nth-child(2) {
    -webkit-transform: translateZ(100px);
    -moz-transform: translateZ(100px);
    -ms-transform: translateZ(100px);
    -o-transform: translateZ(100px);
    transform: translateZ(100px);
    outline: 1px solid transparent;
}

.cube>div:nth-child(3) {
    -webkit-transform: rotateY(90deg) translateZ(100px);
    -moz-transform: rotateY(90deg) translateZ(100px);
    -ms-transform: rotateY(90deg) translateZ(100px);
    -o-transform: rotateY(90deg) translateZ(100px);
    transform: rotateY(90deg) translateZ(100px);
    outline: 1px solid transparent;
}

.cube>div:nth-child(4) {
    -webkit-transform: rotateY(180deg) translateZ(100px);
    -moz-transform: rotateY(180deg) translateZ(100px);
    -ms-transform: rotateY(180deg) translateZ(100px);
    -o-transform: rotateY(180deg) translateZ(100px);
    transform: rotateY(180deg) translateZ(100px);
    outline: 1px solid transparent;
}

.cube>div:nth-child(5) {
    -webkit-transform: rotateY(-90deg) translateZ(100px);
    -moz-transform: rotateY(-90deg) translateZ(100px);
    -ms-transform: rotateY(-90deg) translateZ(100px);
    -o-transform: rotateY(-90deg) translateZ(100px);
    transform: rotateY(-90deg) translateZ(100px);
    outline: 1px solid transparent;
}

.cube>div:nth-child(6) {
    -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
    -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
    -ms-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
    -o-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
    transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
    outline: 1px solid transparent;
}

object {
    opacity: 0.3;
}

object:hover {
    opacity: 1;
}

@media (max-width: 640px) {
    .viewport {
        -webkit-transform: scale(0.6, 0.6);
        -moz-transform: scale(0.6, 0.6);
        -ms-transform: scale(0.6, 0.6);
        -o-transform: scale(0.6, 0.6);
        transform: scale(0.6, 0.6);
    }
}

.block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.text {
    color: #db963b;
    font-size: 12px;
    font-weight: 300;
}

.logo {
    width: 70px;
    height: 70px;
    padding: 10px;
}

.font {
    font-family: 'IBM Plex Mono', monospace;
}

.dimension {
    -webkit-perspective: 500px;
    perspective: 500px;
    -webkit-perspective-origin: center center;
    perspective-origin: center center;
    display: flex;
    align-items: center;
    ;
}

.side {
    position: absolute;
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 15px solid rgb(242, 238, 0);
    opacity: .7;
    -webkit-animation: color 7s cubic-bezier(0.75, 0, 0.5, 1) infinite;
    animation: color 7s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg);
    }

    25% {
        -webkit-transform: rotateY(90deg);
        transform: rotateY(90deg);
    }

    50% {
        -webkit-transform: rotateZ(90deg);
        transform: rotateZ(90deg);
    }

    75% {
        -webkit-transform: rotateY(90deg);
        transform: rotateY(90deg);
    }

    100% {
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg);
    }

    25% {
        -webkit-transform: rotateY(90deg);
        transform: rotateY(90deg);
    }

    50% {
        -webkit-transform: rotateZ(90deg);
        transform: rotateZ(90deg);
    }

    75% {
        -webkit-transform: rotateY(90deg);
        transform: rotateY(90deg);
    }

    100% {
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg);
    }
}

@-webkit-keyframes color {
    0% {
        border: 2px solid #333333;
        background: #db963b;
    }

    25% {
        border: 2px solid #db963b;
        background: #333333;
    }

    50% {
        border: 2px solid #333333;
        background: #db963b;
    }

    75% {
        border: 2px solid#db963b;
        background: #333333;
    }

    100% {
        border: 2px solid #333333;
        background: #db963b;
    }
}

@keyframes color {
    0% {
        border: 2px solid #333333;
        background: #db963b;
    }

    25% {
        border: 2px solid #db963b;
        background: #333333;
    }

    50% {
        border: 2px solid #333333;
        background: #db963b;
    }

    75% {
        border: 2px solid #db963b;
        background: #333333;
    }

    100% {
        border: 1px solid #333333;
        background: #db963b;
    }
}

/*# sourceMappingURL=spinner.css.map */

/*Start global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 10px;
    font-family: 'Oswald', monospace;
    color: #eee;
}

body {
    width: 100%;
    height: 100%;
    background: rgb(14, 15, 15) no-repeat center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

section {
    padding: 6rem 0;
}

a {
    text-decoration: none;
    color: #eee;

}

p {
    font-size: 1.8rem;
    font-weight: 300;
}

img {
    width: 100%;
}

/*End global*/

/*Start reusable*/
.container {
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading {
    text-align: center;
    margin-bottom: 10rem;
}

.section-heading h1 {
    font-size: 3.5rem;
    color: rgba(255, 255, 255, .3);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}

.section-heading h1::before,
.section-heading h1::after {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.75);
}

.section-heading h1::before {
    width: 10rem;
    height: 3px;
    border-radius: 0.8rem;
}

.section-heading h6 {
    font-size: 1.6rem;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
}

.has-margin-right {
    margin-right: 5rem;
}

/*End reusable*/

/*Start header*/
/* header {
    width: 100%;
    height: 100vh;
} */
/* .top-nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    background-color: #333333;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms;
    z-index: 50;
} */

/*LEFTBAR */

/*vertical line sidebar (left)*/
.vl {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    background-color: rgb(168, 178, 209);
    margin: 0px auto;
    box-sizing: inherit;
}

.main-left {
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 550px;
    left: 0px;
    background: transparent;
    overflow-x: hidden;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
}

.left-sticky {
    align-items: center;
    justify-content: center;
    top: 20px;
    height: 300px;
    width: 200px;
    float: left;
    display: flex;
    flex-direction: column;
}

.left-sticky a {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
}

.social-media i {
    font-size: 3rem;
    transition: color 650ms;
}

.social-media i:hover {
    color: #db963b;
}

.nav-list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0 2rem;
}

/*RIGHT SIDE BAR*/
.vl-right {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    background-color: rgb(168, 178, 209);
    margin: 0px auto;
    box-sizing: inherit;
}

.main-right {
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 600px;
    right: 0px;
    background: transparent;
    overflow-x: hidden;
    padding: 8px 0;
    display: block;
}


.email {
    writing-mode: vertical-rl;
    top: 0;
    font-size: 15px;
    font-family: 'IBM Plex Mono', monospaces;
    display: flex;
    align-items: center;
    margin: 15px 67px;
}

.email:hover {
    color: #db963b;
    transition: 0.5s;
    cursor: pointer;
}

.nav-link {
    font-family: 'Oswald', monospace;
    font-size: 5rem;
    padding: 1rem;
}

.nav-link:hover,
.nav-link:focus {
    background: #db963b;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link:hover {
    transition: 1s;
}

.top-nav.open {
    top: 0;
    border-radius: initial;
}

.menu-toggler {
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
}

.menu-toggler.open {
    transform: rotate(-45deg);
}

/* .bar {
    background: linear-gradient(to right, #db963b, #eee);
    width: 100%;
    height: 4px;
    border-radius: .8rem;
}

.bar.half {
    width: 50%;
}

.bar.start {
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start {
    transform: rotate(-450deg) translateX(0.8rem);
}

.bar.end {
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end {
    transform: rotate(-450deg) translateX(-.8rem);
} */

.title-heading h1 {
    font-size: 10rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    background: #db963b;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
}

.title-heading h6 {
    font-size: 2rem;
    font-weight: 300;
}

/*End header*/

/*Start about*/
.about .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-heading {
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
}

.about-heading h1 {
    font-size: 10rem;
    opacity: 0.3;
}

.about-heading h6 {
    font-size: 2rem;
    font-weight: 300;
}

.profile-img {
    flex: 1;
    margin-right: 5rem;

}

.about-details {
    flex: 1;
}


/*End about*/

/*Start services*/
.my-skills {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.skill h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
}

.icon-container {
    width: 10rem;
    height: 10rem;
    border: 3px solid rgb(1, 134, 97);
    background-color: transparent;
    display: flex;
    margin-bottom: 2rem;
    transform: rotate(45deg);
}

.icon-container i {
    color: rgb(1, 134, 97);
    font-size: 5rem;
    margin: auto;
    transform: rotate(-45deg);
}

/*End services*/

/*Start portfolio*/
.portfolio-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.portfolio-item:last-child {
    margin-bottom: 0;
}

.portfolio-img {
    flex: 1;
    width: 50rem;

}

.portfolio-description {
    flex: 1;
}

.portfolio-description h1 {
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0;
}

.portfolio-description h6 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.3;
}

.portfolio-description .cta {
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #3883ff;
    transition: color 650ms;
}

.portfolio-description .cta:hover {
    color: #2f67cd;
}

/*End portfolio*/

/*work experience starts*/
/* Style the tab */
.experience {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.work-exp-content {
    padding: 20px;
    margin: 0px;
    border: 10px transparent;
}

.tab {
    float: left;
    border-left: 5px solid#b17930;
    background-color: #2A2B2D;
    width: 30%;
    display: flex;
    flex-direction: column;
    height: 30rem;
}

/* Style the buttons inside the tab */
.tab button {
    display: flex;
    background-color: inherit;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    padding: 15px 25px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    height: 100px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgb(37, 37, 37);
    border-left: 20px solid#b17930;
    color: #b17930;
    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
}

/* Create an active/current "tab button" class */

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 20px 20px;
    border: none;
    background-color: rgb(0, 0, 0);
    width: 70%;
    border-left: none;
    height: 30rem;
}

.tablinks .active {
    color: #b17930;
    background-color: rgb(37, 37, 37);
}

.tabcontent h1,
h3,
p {
    font-family: 'IBM Plex Mono', monospace;
}

.tabcontent h1,
h3 {
    color: #b17930;
    font-weight: none;
}

.tabcontent h1 {
    font-size: 1.8em;
}

.tabcontent h3 {
    font-size: 1.3em;
}

.tabcontent p {
    font-size: 14px;
}

/*end workexperience*/


/*photo section*/
.slidershow{
    width: 800px;
    height: 500px;
    overflow: hidden;
    margin-top: 300px;
  }
  .middle{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .bar{
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.3s;
  }
  .bar:hover{
    background: #fff;
  }
  
  input[name="r"]{
      position: absolute;
      visibility: hidden;
  }
  
  .slides{
    width: 500%;
    height: 100%;
    display: flex;
  }
  
  .slide{
    width: 20%;
    transition: 0.6s;
  }
  .slide img{
    width: 100%;
    height: 100%;
  }
  
  #r1:checked ~ .s1{
    margin-left: 0;
  }
  #r2:checked ~ .s1{
    margin-left: -20%;
  }
  #r3:checked ~ .s1{
    margin-left: -40%;
  }
  #r4:checked ~ .s1{
    margin-left: -60%;
  }
  #r5:checked ~ .s1{
    margin-left: -80%;
  }

/*photo seciton ends*/

/*publications starts*/

  .text-center {
    text-align: center;
  }
  
  .color-white {
    color: #fff;
  }
  
  .box-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 35px 15px;
    width: 100%;
  }
  
  @media screen and (min-width:1380px) {
    .box-container {
      flex-direction: row
    }
  }
  
  .box-item {
    position: relative;
    -webkit-backface-visibility: hidden;
    width: 415px;
    margin-bottom: 35px;
    max-width: 100%;
  }
  
  .flip-box {
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 1000px;
    -webkit-perspective: 1000px;
  }
  
  .flip-box-front,
  .flip-box-back {
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    min-height: 250px;
    -ms-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    -webkit-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-front {
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-back {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box .inner {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 60px;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
    
    transform: translateY(-50%) translateZ(60px) scale(.94);
    -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
    -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
    top: 50%;
  }
  
  .flip-box-header {
    font-size: 20px;
  }
  
  .flip-box p {
    font-size: 16px;
    line-height: 1.5em;
  }
  
  .flip-box-img {
    margin-top: 25px;
  }
  
  .flip-box-button {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 5px;
    font-weight: bold;
    margin-top: 25px;
    padding: 15px 20px;
    text-transform: uppercase;
  }
/*publication ends*/

/*Start footer*/

.copyright {
    width: 100%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-family: 'IBM Plex Mono', monospace;
    padding: 1.5rem 0;
    position: relative;
}

.copyright p {
    font-size: 1.2rem;
    color: #db963b
}

.copyright p:hover {
    color: #dbac6f;
    cursor: pointer;
}

/*End footer*/

/*Start media queries*/

@media screen and (max-width: 768px) {
    body {
        background: #1E1F20 no-repeat center fixed;
        background-size: cover;
    }

    .landing-text h1 {
        font-size: 15rem;
    }

    .landing-text h6 {
        font-size: 1.7rem;
    }

    .nav-list {
        flex-direction: column;
    }

    li {
        margin: 2rem 0;
    }

    nav-link {
        font-size: 4.5rem;
    }

    .about-heading h1 {
        font-size: 8rem;
    }

    .section-heading h1 {
        font-size: 3rem;
    }

    .about-details .nav-list {
        flex-direction: initial;
    }

    .about-details li {
        margin: 0 2rem;
    }

    .icon-container {
        width: 7rem;
        height: 7rem;
    }

    .icon-container i {
        font-size: 4rem;
    }

    .timeline ul {
        margin: 0 0 0 auto;
    }

    .timeline .date::before {
        left: -20rem;
    }

    .timeline .date::after {
        left: -6rem;
    }
}


@media screen and (max-width: 600px) {
    .menu-toggler {
        top: 2rem;
        right: 2rem;
    }

    .landing-text h1 {
        font-size: 8rem;

    }

    .landing-text h6 {
        font-size: 1.4rem;
    }

    .nav-link {
        font-size: 3.5rem;
    }

    .about .container {
        flex-direction: column;
    }

    .profile-img {
        margin: 0 0 7rem 0;
    }

    .portfolio-item {
        flex-direction: column;
    }

    .portfolio-img {
        margin: 0 0 2rem 0;
        order: 1;
    }

    .portfolio-description {
        margin: 0;
        order: 2;
    }

    .timeline p {
        font-size: 1.6rem;
    }

    .timeline .date::before {
        font-size: 1.3rem;
    }

    form {
        width: 100%;
    }

    .up {
        right: 2rem;
    }
}

/*End media queries*/