<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"  content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1 user-scalable=no" />
  <title>Elsie Cho</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
  <link rel="stylesheet" href="main-mb.css" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"/>
</head>


<body>
  <!--header-->
  <header>
    <img class="logo" src="/images/elsielogo.PNG" alt="logo">
    <nav>
      <ul class="nav__links">
        <li><a href="#about">About</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#portfolio">Work</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <button class="resume-button"><a href="./eunbyul-cho-resume.pdf" download="newfilename">Resume</a></button>
  </header>

  <!--maincontent-->
  <div class="main-content">
    <!--front page-->
    <section class="block title-heading">
      <h1>Elsie Cho</h1>
      <div class="quotation">
        <span class="textQuote"> "Live above your expectation and <br>beyond your imagination"</span>
      </div>
      <div id="wrapper">
        <div class="viewport">
          <div class="cube">
            <div class="side">
              <div class="cube-image"><a href="https://www.instagram.com/elsiemade">4.photo</a></div>
            </div>
            <div class="side">
              <div class="cube-image">
                <a href="#experience">2. experience</a>
              </div>
            </div>
            <div class="side">
              <div class="cube-image">
                <a href="#contact">6. contact</a>
              </div>
            </div>
            <div class="side">
              <div class="cube-image">
                <a href="https://scholar.google.com/citations?hl=en&user=w1WUX4MAAAAJ&sortby=pubdate&view_op=list_works&authuser=1&gmla=AJsN-F5rtis6A5-bqx1JHHbCjIAJZ8m-LIO9zHQcI0qt_raoOrGzVjXKFt8c5Fe-AfG_dI1Ca1lTmOvvumZo4cHN6hZ8GML3YX9FHjXKHKrzeUH1mvsVEKw">5.publications</a>
              </div>
            </div>
            <div class="side">
              <div class="cube-image">
                <a href="#about">1. about</a>
              </div>
            </div>
            <div class="side">
              <div class="cube-image active">
                <a href="#portfolio">3.work</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span class="textQuote move-me">The Cube: "Spin me around for fun!"</span>
    </section>

    <!--sidebar left link social container-->
    <div>
      <div class="social-media">
        <ul class="left-sticky">
          <li>
            <a href="https://scholar.google.com/citations?hl=en&user=w1WUX4MAAAAJ&sortby=pubdate&view_op=list_works&authuser=1&gmla=AJsN-F5rtis6A5-bqx1JHHbCjIAJZ8m-LIO9zHQcI0qt_raoOrGzVjXKFt8c5Fe-AfG_dI1Ca1lTmOvvumZo4cHN6hZ8GML3YX9FHjXKHKrzeUH1mvsVEKw" class="icon-link">
              <i class="fas fa-graduation-cap"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/eunbyul-c-51906561/" class="icon-link">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/elsiemade" class="icon-link">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/elsie-c" class="icon-link">
              <i class="fab fa-github-square"></i>
            </a>
          </li>
          <li>
            <a href="https://codepen.io/elsie-c" class="icon-link">
              <i class="fab fa-codepen"></i>
            </a>
          </li>
        </ul>
        <div class="vl-left"></div>
      </div>
    </div>
    <!--right section: email-->
    <div>
      <div class="main-right">
        <div class="email"><a href="mailto:eunbyuc@gmail.com?subject=subject text">eunbyuc@gmail.com</a></div>
        <div class="vl-right"></div>
      </div>
    </div>

    <!--main section-->
    <div>
      <section id="about">
        <div class="container aboutSection">
          <div data-aos="fade-up" data-aos-delay="300">
            <img class="profile-img" src="images/profile2.jpg" alt="profilepic" />
          </div>
          <div data-aos="fade-down" data-aos-delay="600">
            <br />
            <p class="paragraph-section">
              I like creating products that are truly unique and reflect their value and aesthetics. I make websites/applications that provide both intuitive UI and efficient and adaptable backends.
              <br />
              <br />
              I have a bachelor's degree in <a class="emphasis_intro">Biochemistry and Cell Biology</a> at University of California, San Diego. I finished my master's in <a class=emphasis_intro>Biomedical Engineering</a> at University of California, Irvine and specialized in <a class=emphasis_intro>Carbon MEMS/NEMS and nanofibers for biosensors and electrochemical devices</a>.
              <br />
              <br />
              I get excited about learning new things. Shortly after finishing my graduate program, I dabbled in programming
              as a hobby to build a fun game. Then, the hobby led me into the field of <a class=emphasis_intro>web development</a> where I found myself enjoying building fun tools for the web.
            </p>
          </div>
        </div>
      </section>
      <section class="experience" id="experience">
        <div class="container" id="UpdatedContainer">
          <div class="section-heading">
            <h1>Work Experience</h1>
            <h6>See where I worked </h6>
          </div>
            <div data-aos="fade-down" data-aos-delay="300">
              <div class="tab">
                <button class="tablinks" onclick="openCity(event, 'cj')" id="defaultOpen">
                  Front-End
                </button>
                <button class="tablinks" onclick="openCity(event, 'biomems')">
                  BioMEMS
                </button>
                <button class="tablinks" onclick="openCity(event, 'thermo')">
                  Thermo-plastic
                </button>
                <button class="tablinks" onclick="openCity(event, 'rdl')">
                  RDL
                </button>
                <button class="tablinks" onclick="openCity(event, 'hycor')">
                  Hycor
                </button>
                <button class="tablinks" onclick="openCity(event, 'VA Hospital')">
                  VASDH
                </button>
              </div>
              <div class="mainTabContent">
                <div id="cj" class="tabcontent">
                  <h1>Personal Projects</h1>
                  <h2>Front-End Developer</h2>
                  <h3>Oct 2018 - Present</h3>
                  <br>
                  <ul>
                    <li>A task management tool, <a class="emphasis_intro in-para-link" href="https://github.com/elsie-c/tasklit">TaskLit</a>, for users to organize, prioritize, and schedule by related tasks, dates, and/or projects.</li><br>
                    <li><a class="emphasis_intro in-para-link" href="www.elsiemade.com">elsiemade.com</a>- A personal website to serve as an interactive resume and showcase a number of stylistic concepts</li><br>
                    <li>Built a masonry-ordered photo grid web page, <a class="emphasis_intro in-para-link" href="https://elsie-c.github.io/brickade">brickade</a>, to display photo of my favorite moments.</li>
                    <br>
                    <li>Collaboration Work: Frontend for data repository, <a class="emphasis_intro in-para-link" href="#">RadQA Solutions Data Repository</a>, for storing MRI database and troubleshooting the performance of local MRI scanners.</li><br>
                  </ul>
                </div>
                <div id="biomems" class="tabcontent">
                  <h1>UC Irvine BioMEMS/Carbon-MEMS Lab</h1>
                  <h2>Graduate Researcher, Project Co-Lead</h2>
                  <h3>Jun 2017 - Oct 2018</h3>
                  <br>
                  <ul>
                    <li><a class="emphasis_intro">[Thesis]</a>: Improving a prototype of enzymatic fuel cell using laccase-based biocathode on novel graphitizing-carbon materials.</li><br>
                    <li>Developed a method to functionalize electrospun carbon nanofibers to study the electrochemical behavior for biosensors and biofuel cells applications.</li><br>
                    <li><a class="emphasis_intro">[Project-B]</a>: Developing an iodide ion nanosensor for monitoring thyroid deficiency disorder.</li><br>
                    <li><a class="emphasis_intro">[Project-C]</a>: Building a SMART water filter using graphitic carbon membranes for detecting contaminants in drinking and wastewater.</li>
                  </ul>
                </div>
                <div id="thermo" class="tabcontent">
                  <h1>Thermoplastic Shrink Lab</h1>
                  <h2>Graduate Research Student</h2>
                  <h3>Sept 2016 - Jan 2017</h3>
                  <br>
                  <ul>
                    <li>Re-evaluated pre-developed immunoassay on nanostructured silica films for point-of-care devices. </li><br>
                    <li><a class="emphasis_intro">[Project]</a>: Optimized a multi-scale assay desing using gold nanoparticles for detecting specific mouse IgG antibodies (proof-of-concept).</li>
                  </ul>
                </div>
                <div id="rdl" class="tabcontent">
                  <h1>Rheumatology Diagnostics (RDL)</h1>
                  <h2>Research Analyst</h2>
                  <h3>Jul 2015 - Apr 2016</h3>
                  <br>
                  <ul>
                    <li>Conducted routine test performance and troubleshooting in-vitro diagnostic medical instruments (e.g. Dynex DSX and Quanta-lyzer).</li><br>
                    <li>Performed routine data crunching and analysis to address autoimmune-specific disease trends and panels using Excel Analytics.</li>
                  </ul>
                </div>
                <div id="hycor" class="tabcontent">
                  <h1>Hycor Biomedical</h1>
                  <h2>R&D Research Associate</h2>
                  <h3>Jul 2014 - Jul 2015</h3>
                  <br>
                  <ul>
                    <li>Developed a high-throughput in-vitro diagnostic medical instruments for allergy IgE-based testing in a reuglated lab enviroment per cGMP, ISO 9001, ISO 13485, and CFR 920.</li><br>
                    <li>Troubleshot both instrumental and manual immunosensors and reported in weekly team and interdepartmental meetings.</li><br>
                    <li>Optimized IVD stability testing design, sIgE/tIgE immunoassays, and DoE for allergenic proteins and components.</li>
                  </ul>
                </div>
                <div id="VA Hospital" class="tabcontent">
                  <h1>VA San Diego Healthcare System</h1>
                  <h2>Undergraduate Research Assistant</h2>
                  <h3>Apr 2013 - Apr 2014</h3>
                  <br>
                  <ul>
                    <li>Research focused on membrane caveolae-signal transmission to intercellular organelles for cardiact regulation. </li><br>
                    <li>Performed routine protein specification/quantification via Western Blot and other protein assays (e.g. Bradford, BCA etc). </li><br>
                    <li>Cultured and maintained cardiac cell line (HL-1) regularly for cell analysis and in-vivo testing.</li>
                  </ul>
                </div>
              </div>
              </div>
            </div>
        </div>
      </section>
      <section id="portfolio">
        <div class="container">
          <div class="section-heading">
            <h1>Portfolio</h1>
            <h6>View some of my recent work</h6>
          </div>
          <div class="box-container">
            <div class="box-item">
              <div class="flip-box">
                <div class="flip-box-front text-center" style="background-color:black;">
                  <div class="inner color-white">
                    <h3 class="flip-box-header">Taskit</h3>
                    <p>Built a simple task management tool.</p>
                  </div>
                </div>
                <div class="flip-box-back text-center" style="background-color:black;">
                  <div class="inner color-white">
                    <div class="listoftools">[ Javascript, HTML, CSS, React, NodeJS, Material-UI, Github Page ]</div>
                    <button class="flip-box-button"><a href="https://github.com/elsie-c/tasklit">Learn More</a></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-item">
              <div class="flip-box">
                <div class="flip-box-front text-center filter-" style="background-color:black;">
                  <div class="inner color-white">
                    <h3 class="flip-box-header">RadQA Solutions Data Repository</h3>
                    <p>Designed Frontend of MRI Data Repository.</p>
                  </div>
                </div>
                <div class="flip-box-back text-center" style="background-color:black;">
                  <div class="inner color-white">
                    <div class="listoftools">[ Javascript, HTML, CSS, React, Git, Material-UI]</div>
                    <button class="flip-box-button">Learn More</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-item">
              <div class="flip-box">
                <div class="flip-box-front text-center" style="background-color:black;">
                  <div class="inner color-white">
                    <h3 class="flip-box-header">Medicaly</h3>
                    <p>Under Construction</p>
                  </div>
                </div>
                <div class="flip-box-back text-center" style="background-color:black;">
                  <div class="inner color-white">
                    <div class="listoftools">[ Javascript, HTML, CSS, React, Appbase.io, Material UI ]</div>
                    <button class="flip-box-button"><a href="https://github.com/elsie-c/medicaly-v1.0">Learn More</a></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-item">
              <div class="flip-box">
                <div class="flip-box-front text-center" style="background-color:black;">
                  <div class="inner color-white">
                    <h3 class="flip-box-header">Brickade</h3>
                    <p>Using react masonary photo grid for my favorite moments from trips.
                    </p>
                  </div>
                </div>
                <div class="flip-box-back text-center" style="background-color:black;">
                  <div class="inner color-white">
                    <div class="listoftools">[ Javascript, HTML, CSS, React, NodeJS, Github Page ]</div>
                    <button class="flip-box-button"><a href="https://elsie-c.github.io/brickade">Learn More</a></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-item">
              <div class="flip-box">
                <div class="flip-box-front text-center" style="background-color:black;">
                  <div class="inner color-white">
                    <h3 class="flip-box-header">Elsiemade</h3>
                    <p>Minialistic website for displaying portfolio.</p>
                  </div>
                </div>
                <div class="flip-box-back text-center" style="background-color:black;">
                  <div class="inner color-white">
                    
                    <div class="listoftools">[ Javascript, HTML, CSS, React, NodeJS, AOS.js, Heroku ]</div>
                    <button class="flip-box-button"><a href="https://www.elsiemade.com">Learn More</a></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-item">
              <div class="flip-box">
                <div class="flip-box-front text-center filter-" style="background-color:black;">
                  <div class="inner color-white">
                    <h3 class="flip-box-header">USPTO: Customizable Instrument</h3>
                    <p>Methods and apparatus that mix reagents for immunoassays</p>
                  </div>
                </div>
                <div class="flip-box-back text-center" style="background-color:black;">
                  <div class="inner color-white">
                    <div class="listoftools">[ IPN: WO2017011560A1 ]</div>
                    <button class="flip-box-button"><a href="https://patentimages.storage.googleapis.com/6b/bf/7f/4965f711c7b8e7/WO2017011560A1.pdf">Learn More</a></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-item">
              <div class="flip-box">
                <div class="flip-box-front text-center" style="background-color:black;">
                  <div class="inner color-white">
                    <h3 class="flip-box-header">Carbon nanofibers for electrochemistry.</h3>
                    <p>Fundamental research focused on novel carbon materials for electrochemical devices.</p>
                  </div>
                </div>
                <div class="flip-box-back text-center" style="background-color:black;">
                  <div class="inner color-white">
                    <div class="listoftools">[ Published on Electrochimica Acta - Sept, 2018]</div>
                    <button class="flip-box-button"><a href="https://escholarship.org/content/qt3bd1w0dt/qt3bd1w0dt.pdf">Learn More</a></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-item">
              <div class="flip-box">
                <div class="flip-box-front text-center filter-" style="background-color:black;">
                  <div class="inner color-white">
                    <h3 class="flip-box-header">Ion Sensor on Carbon nanostructures</h3>
                    <p><b style="text-decoration: underline;">Lead Author</b>: Sensing Iodine on graphitic carbon nanofibers. </p>
                  </div>
                </div>
                <div class="flip-box-back text-center" style="background-color:black;">
                  <div class="inner color-white">
                    <div class="listoftools">[ Published on Sensors - May, 2018 ]</div>
                    <button class="flip-box-button"><a href="https://www.mdpi.com/1424-8220/18/5/1486">Learn More</a></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-item">
              <div class="flip-box">
                <div class="flip-box-front text-center filter-" style="background-color:black;">
                  <div class="inner color-white">
                    <h3 class="flip-box-header">Biofuel cell on carbon membranes</h3>
                    <p><b style="text-decoration: underline;">Lead Author</b>: A graphitic Carbon-based biofuel cell for electricity and energy storage.</p>
                  </div>
                </div>
                <div class="flip-box-back text-center" style="background-color:black;">
                  <div class="inner color-white">
                    <div class="listoftools">[ Published on Electrochemical Society (ESC) - May, 2018 ]</div>
                    <button class="flip-box-button"><a href="http://ma.ecsdl.org/content/MA2018-01/13/1033.short">Learn More</a></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-item">
              <div class="flip-box">
                <div class="flip-box-front text-center filter-" style="background-color:black;">
                  <div class="inner color-white">
                    <h3 class="flip-box-header">Silica for cheap POC diagnostics</h3>
                    <p>Improved detection limit of biosensors using multi-scale silica nanostructures.</p>
                  </div>
                </div>
                <div class="flip-box-back text-center" style="background-color:black;">
                  <div class="inner color-white">
                    <div class="listoftools">[ Published on SPIE - Mar, 2017 ]</div>
                    <button class="flip-box-button"><a href="https://www.spiedigitallibrary.org/conference-proceedings-of-spie/10055/1/Multi-scale-silica-structures-for-improved-point-of-care-detection/10.1117/12.2258655.short">Learn More</a></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <section class="contact" id="contact">
      <div class="container">
        <div class="section-heading">
          <h1>Contact</h1>
        </div>
        <div class="about-details" data-aos="fade-down" data-aos-delay="600">
          <br />
          <p class="paragraph-section contact">
            My inbox is always open for potential collaborations and new friends. </br> <a class="emphasis_intro contact-link" href="mailto:eunbyuc@gmail.com?subject=subject text">Get in touch with me!</a>
          </p>
        </div>
      </div>
    </section>
    </div>
  </div>

  <!--footer-->
  <footer class="copyright">
    <p> Designed and Built By Elsie Cho</p>
  </footer>

  <!--scripts-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script> -->
  <script src="main.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>

</html>